body{
    margin: 0;
}
.danh-muc{
    background-color: #2fa4e7;    
}
.danh-sach-muc{
 /* bỏ dấu chấm mục */
    list-style: none;
    margin: 0;
    display: flex;
    padding: 10px;
    /* set các đối tượng bọc ở trong khối tự động cách nhau */
    gap: 15px;
}
.lien-ket-muc{
    color: white;
    text-decoration: none;
}
/* chỉnh màu chữ và bỏ gạch chân cho thẻ a */
a{
    color: white;
    text-decoration: none;
}
/* danh sách mục */
main{
    display: flex;
}
.khoi-trai{
    width: 20%;
    height: 90vh;
    border-right: 1px solid #2fa4e7;
    /* border để vẽ đường viền
    border có 3 thuộc tính: border-width, border-style, border-color
    nếu margin để auto sẽ căn ra giữa */
}
p{
    margin: 0px;
}
input{
    width: 100%;
    height: 10px 0;
    border-radius: 5px;
    border: 2px solid gray;
}
.khoi-dang-nhap{
            width: 90%;
            height: 300px;
            margin: 10px auto;
        }
.quen-mk{
            display: flex;
            justify-content: flex-end;
        }
.lien-ket-quen-mk{
            text-decoration: none;
            color: #2fa4e7;
        }
.thong-tin{
    margin-bottom: 10px;
}
.button{
            width: 100%;
            padding: 10px 0;
            margin-top: 10px;
            border-radius: 5px;
            border: 1px solid gray;
            color: white;    
        }
.dang-nhap{
            background-color: #2fa4e7;
}
.dang-nhap-365{
            background-color: rgb(13, 91, 209);
}
.khoi-phai{
            width: 80%;
            height: 90vh;
        }
.tin{
            width: 95%;
            height: 300px;
            margin: 20px auto;
            border: 1px solid #2fa4e7;
            border-radius: 10px;
        }
.tin-tren {
            width: 95%;
            margin: auto;
            border-bottom: 1px solid #2fa4e7;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
h3{
    margin: 0;
}
.danh-sach-tin {
            width: 25%;
            margin: auto;
            padding: 10px;
            display: flex;
        }

.bai-viet {
            width: 25%;
            margin-right: 20px;
        }

.bai-viet-khoi-anh {
            width: 100%
        }
.bai-viet-thoi-gian{
    display: flex;
    justify-content: flex-end;
}
img {
            width: 100%;
            height: 20vh;
            border-radius: 10px;
}
.xem-tiep{
    color:#2fa4e7;
    text-decoration: none;
}